%h1 Landings#index
= link_to "Find a job", new_user_registration_path(:employee => 1), :class => "btn btn-primary btn-lg"
= link_to "Post a job", new_user_registration_path(:employer => 1), :class => "btn btn-success btn-lg"
