
/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require_tree .
*= stub active_admin

*/

@import "bootstrap_configuration";
@import "bootstrap";

//->Prelang (ui_framework:twitter_bootstrap)

// Give everything in 'yield' margin to separate it.
.yield {
  margin: 30px;
}

// Constrain forms for models (scaffolded models) so they aren't full page width.
.form-model {
  max-width: 750px;
}

//->Prelang (user_login:devise)
.form-user {
  max-width: 450px;
}

.field_with_errors {
  @extend .has-error;
}

legend {
  width: auto;
}

legend.fieldset-title {
    width:inherit; /* Or auto */
    padding:0 3px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}


.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.linkedin-icon {
  height: 30px;
}

.import-linkedin {
  font-size: 16px;
  font-weight: 500;
  &:hover {
    text-decoration: none;
  }
  color: rgb(18, 123, 179);
}